.container{
    border: 1px solid gray;
    height: 480px;
    position: relative;
}


.prod-list img { 
    width: 350px; 
    height: 200px;
}

.prod-list .caption{
    position: relative;
    top: -5px;
    height: 200px;
    padding-top: 20px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    z-index: 999;
}

.prod-list li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    height: 200px;

    /* position: relative; */
}

.prod-list li:hover .caption {
    opacity: 1; 
    transform: translateY(-200px);
    color: rgb(255, 255, 255);
}

.caption{
    text-align: center;
    color: #000000;
}

